<div ng-class="{ 'selected-popup': selectedPopup =='type1'}">

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" ng-controller="workCtrl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title" id="gridSystemModalLabel">{{ projectDetails[selectedProject].ProjectName }}</h4>
                </div>
                <div class="modal-body">
                    <div class="projectSummary">{{ projectDetails[selectedProject].ProjectDesc }}</div>
                    <h5>Roles</h5>
                    <ul>
                        <li ng-repeat="r in projectDetails[selectedProject].ProjectsRoles">{{r.role}}</li>
                    </ul>
                </div>
              <!--   <div class="modal-footer">
                    <button type="button" class="btn btn-success">Cool</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
